body {
	margin: 0px auto;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
}


h1{
	padding: 50;
	margin: auto 0;
	letter-spacing: 3px;
	font-size: 30;
	font-weight: lighter;
	font-style: normal;
	color: black;
	text-align:center;
	display: block;

}

ul{
	font-size: 15;
	font-weight: lighter ;
	list-style: none;
    font-style: normal;
    text-align: center;
    line-height: 25px;
	
}

li {
	margin-left: -50px;
}

.special {
	color: black;
	margin-left: 5px;
	font-weight: normal;
	font-size: 10;
}



a{
	top: 10px;
	margin-left: 5px;
	color: black;
	text-decoration: none;
	font-style: normal;
}



a:visited{
	color: #515151;
}


a:hover{
	color: white;
	background-color: black;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 3px;
	padding-bottom: 3px;

}


a:acitve {
	font-weight: bold;
}