
html, body { padding: 0; margin: 0; }

html { 
  width: 100%;
  height: 100%;
  background-image: url(http://www.bustler.net/images/news2/james_turrell_guggenheim_01.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

w3card { 
  width: 100%;
  height: 100%;
  position: static;
  background-image: url(http://www.bustler.net/images/news2/james_turrell_guggenheim_01.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

w3card2 { 
  width: 100%;
  height: 100%;
  position: static;
  background-image: url(http://www.bustler.net/images/news2/james_turrell_guggenheim_01.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: white;
    display: block;
    position: fixed;
    text-decoration: none;
    top: 0px;
    width: 100%;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);

}

a {
    text-decoration: none;
}

a:hover {
    display: block;
    color: white;
    text-align: center;
    margin: auto;
	width: 600px;
	max-width: 700px;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);

}

a:visited {
    text-decoration: none;
    color: white;
}

.click {
	margin: auto;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid white;
	background-color: transparent;
	z-index: 10;
	color: white;
    position: fixed;
    bottom: 10;
    opacity: 0.7;
	left: 0;
	right: 0;
	
}

