html {
      background-image: url(http://artnews.org/files/0000081000/0000080204.jpg/James_Turrell.jpg); 
      z-index: -50;

}

html, body { 
    padding: 0; 
    margin: 0;
  width: 100%;
  height: 100%;
  min-width: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    text-align: center;
    position: fixed;
    letter-spacing: 7px;
    text-transform: lowercase;
    color: white;
    display: block;
    text-decoration: none;
    top: 0px;
    width: 100%;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
    z-index: 1;

}

.header a:hover {
    display: block;
    color: white;
    text-align: center;
    margin: auto;
	width: 350px;
	max-width: 700px;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.6);
	border-radius: 5em;
	margin-top: 0px;
	padding-top: 0px;
}

a {
    text-decoration: none;
    color: white;
}



a:visited {
    text-decoration: none;
    color: white;
}


.block1 { 
  width: 100%;
  height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.work h3 {
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    text-align: center;
    position: fixed;
    letter-spacing: 3px;
    text-transform: lowercase;
    color: white;
    display: block;
    text-decoration: none;
    top: 30px;
    left: 0px;
    width: 250px;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: .7;
    
}

.work h3:hover {
    display: block;
    color: white;
    text-align: center;
	text-shadow: 0px 0px 40px rgba(0, 0, 0, .8);
	opacity: 1;
    
}

.block2 { 
    position: static;
    width: 100%;
    height: auto;
    margin-top: -150px;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: -1;
    background-color: black;
    pointer-events:none;
}

.block2 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block2 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(500, 100, 400, 0.3);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block2 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
  pointer-events:none;
}

.block2 img:hover {
    opacity: 1;
}

.block3 { 
    position: static;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: 1;
    background: rgba(100, 100, 300, 0.7);
}


.block3 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block3 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(100, 180, 800, 0.6);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block3 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
}

.block3 img:hover {
    opacity: 1;
}

.block4 { 
    position: static;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: 1;
    background: rgba(100, 400, 100, .7);
}


.block4 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block4 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(10, 200, 10, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block4 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
}

.block4 img:hover {
    opacity: 1;
}

.block5 { 
     position: static;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: 1;
    background: rgba(100, 400, 100, .7);
}


.block5 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 350px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block5 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 350px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(900, 200, 60, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block5 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
}

.block5 img:hover {
    opacity: 1;
}

.block6 { 
    position: static;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: 1;
    background: rgba(100, 400, 100, .7);
}


.block6 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 450px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block6 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 450px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(400, 50, 100, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block6 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
}

.block6 img:hover {
    opacity: 1;
}

.block7 { 
      position: static;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: Verlag, Helvetica, Gotham, Arial, sans-serif;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(000, 155, 558, 0.0);
    border: none;
    z-index: 1;
    background: rgba(100, 400, 100, 0);
}


.block7 h4 {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 450px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    opacity: .9;
    z-index: 0;
}

.block7 h4:hover {
    position: relative;
    display: block;
    border: solid;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    top: -300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 50px;
    width: 450px;
    text-align: center;
    border-radius: 5em;
    font-family: Helvetica, Gotham, Arial, sans-serif;
    font-size: 30px;
    font-variant: normal;
    font-style: normal;
    opacity: .9;
    background-color: rgba(400, 50, 100, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

.block7 img {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  text-decoration: none;
}

.block7 img:hover {
    opacity: 1;
}