body {
background-color: black;

}

.toggle {
	position: fixed;
	margin-top: 150px;
	margin-left: 250px;
	height: 200px;
	width: 250px;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 50px ;
	color: black;

}


.images {
	margin-left: 5px;
	max-width: 750px;
	
}