body {
background-color: black;

}

.toggle {
	position: fixed;
	top: 50%;
	left: 50%;
	right: 50%;
	margin-top: -15%;
	margin-left: -18%;
	height: 200px;
	width: 250px;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 50px ;
	color: black;

}


.images {
	margin-left: 5px;
	width: 500px;

}